body{
    margin: 0;
    padding: 0;
    background-color: dimgray !important;
    font-family: 'Cinzel', sans-serif !important;
}

.container{
    
    text-align: center;
    margin: 20px auto;
    width: 100%;
}

.row{
     margin: 50px 0px 50px 0px;
}

#break{
    font-size: 30px;
    color: red;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
}

#break button {
    
    font-size: 30px;
    padding: 1px 5px;
    border: none;
    background-color: dimgray;
    margin-bottom: 10px;
    
}

#session {
    font-size: 30px;
    color: yellow;
    text-shadow: 2px 2px 2px black;
    
}

#session button{
    
      font-size: 30px;
    padding: 1px 5px;
    border: none;
    background-color: dimgray;
    margin-bottom: 10px;
    
}
#clock{
    
    margin: 50px auto;
    color: green;
    text-shadow: 2px 2px 2px black;
    border: 2px solid white;
    width: 350px;
    border-radius: 50%;
    height: 350px;
    text-align: center;
    padding: 80px;
}
#timer{
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
    margin: 30px auto;
    color:white;
}

span{
    color: white;
    padding: 0px 10px 0px 10px;
}